{% extends 'layout.html' %}

{% block content %}
	<div style="z-index: -1; position: absolute; height: 100vh; width: 95%;" id="particles-js"></div>

	<div style="height: 72vh;" class="container h-full">
		<div class="row h-100">
		    <div class="col-sm-12 my-auto">
				<div class="text-center">
					<h1 class="display-4 pt-5">404</h1>
					<h1 class="text-danger oswald fw-400">Page not found</h1>
					<p class="">The page not found. Click the button below to go to the main page.</p>
					<a class="btn btn-danger" href="{{ url_for('main') }}">Go to the main page</a>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}